
#MedioAmbiente {
	clear: both;
	margin-top: 25px;
	margin-left: 43%;
	margin-bottom: 15px;
}

#Academiasegura {
	clear: both;
	margin-top: 25px;
	margin-bottom: 15px;
	margin-left: 43%;
}

main p {
	clear:both;
	margin: 10px;
	text-align: justify;
	font-size: 18px;
}


#copy {
	text-align: center;
	padding-left: 250px;
	display: inline;
}

#copy p {
	padding-top: 0px;
	margin-top: 0px;
}

footer {
	clear:both;
	margin-top: 600px;
}

#Cookies {
	padding-left: 30px;
}
