
nav {
	margin-right: 0px;
	padding-right: 0px;
	width: auto;
}

#Proximamente {
	clear:both;
	margin-top: 50%;
	margin-left: 25px;
	font-weight: bold;
	font-size: 24ps;
	color:black;
}

#Apuntate {
	clear:both;
	font-weight: bold;
	font-size: 28px;
	margin-left: 40%;
}

main p {
	clear:both;
	margin-top: 15px;
	margin-left:25px;
	margin-right: 30px;
	margin-bottom: 5px;
	text-align: justify;
	font-size: 18px;
}

.ConfoHa{
	clear:both;
	margin-top: 5%;
}

dl dt {
	padding-left: 25px;
	font-weight: bold;
	font-size: 18px;
}

dl dt:first-of-type {
	clear:both;
	margin-top: 0px;
}

dl dd {
	padding-left: 65px;
	padding-right: 35px;
	font-size: 18px;
	text-align: justify;
}

#Cursosverano {
	clear: both;
	margin-top: 25px;
	margin-left: 43%;
	margin-bottom: 15px;
}

footer {
	clear: both;
	margin-top: 800px;
}
	
#copy {
	text-align: center;
	padding-left: 200px;
	display: inline;
}

#copy p {
	padding-top: 10px;
	font-size: 14px;
}