	
footer {
	clear: both;
	margin-top: 240px;
}
	
}#copy {
	clear: both;
	text-align: center;
	padding: 5px;
	padding-left: 250px;
	padding-top: 600px;
	display: inline;
}

#copy p {
	margin-top: 0px;
	padding-top: 15px;
	font-size: 14px;
}

main {
	clear: both;
	width: 450px;
	padding-top: 45px;
	padding-left: 35%;
	font-size: 18px;
}

form {
	background-color: #E4E5E7;
}

legend {
	clear: both;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

form label {
	display: inline-block;
	width: 75px;
	margin-left: 5px;
}

form p label {
	width: 45px;
	margin-left: 5px;
}

form select {
	width: 125px;
}

#Enviar {
	font-size: 14px;
	color: blue;
	margin-left: 40%;
}

#Borrar {
	margin-left: 15px;
	font-size: 14px;
	color: blue;
}

