
* {
	margin: 0;
	padding: 0;
}
			
nav {
	background-color: white;
	padding: 1em;
	height: 20px;
	padding-left: 36%;
	position: flex;
	width: auto;
	box-shadow: 0 3px rgba(0,0,0,0.5);
	font-size: 22px;
}

ul {
	list-style-type: none;
}
			
ul li {
	float: left;
	margin-right: 1em;
}
			
ul li ul li {
	float: none;
}

ul li ul li:last-of-type {
	width: 175px;
}
			
ul li ul {
	background-color: white;
	width: 78px;
	position: absolute;
	top: 25px;
	left: 0;
	padding: 0.5em;
	display: none;
}
			
ul li {
	position: relative;
}
			
ul li a:hover {
	background-color: blue;
	color: white;
}
			
ul li ul li a:hover {
	background-color: blue;
	color: white;
}
			
ul li a {
	text-decoration: none;
}
			
ul li:hover ul {
	display: block;
}
			
header {
	width: 100%;
	height: 125px;
	position:flex;
	width: auto;
	background: white;
	overflow: hidden;
}
			
main {
	width: 0px auto;
	padding: 0px;
	height: 100px;
}

h1 {
	font-family: comic sans serif, cursive;
	color: blue;
	padding-top: 30px;
	margin-left: 45%;
}

header h1 {
	overflow: hidden;
}

img {
	float: left;
	margin-right: 15px;
}

footer {
	position: flex;
	width: 100%;
	height: 100px;
	background: black;
	color: white;
	padding-bottom: 10px;
	overflow: hidden;
}

#copy p{
	text-align: center;
	padding-top: 15px;
}

footer img {
	padding-left: 25px;
	padding-top: 15px;
}

#Cookies {
	padding-left: 30px;
}
