
nav {
	margin-right: 0px;
	padding-right: 0px;
	width: auto;
}

table {
	margin-left: 15%;
}

#Proximamente {
	clear:both;
	margin-left: 10px;
	font-weight: bold;
	font-size: 24ps;
	color:black;
}

#Apuntate {
	clear:both;
	font-weight: bold;
	font-size: 28px;
	margin-left: 45%;
	margin-top: 1%;
}

main p {
	clear:both;
	margin-right: 30px;
	margin-bottom: 5px;
	text-align: justify;
	font-size: 18px;
}

.ConfoHa{
	clear:both;
	margin-top: 2%;
}

dl dt {
	padding-left: 25px;
	font-weight: bold;
	font-size: 18px;
}

dl dt:first-of-type {
	clear:both;
	margin-top: 0px;
}

dl dd {
	padding-left: 65px;
	padding-right: 35px;
	font-size: 18px;
	text-align: justify;
}

#Cursosverano {
	clear: both;
	margin-top: 25px;
	margin-left: 43%;
	margin-bottom: 15px;
}

footer {
	clear: both;
	margin-top: 740px;
}
	
#copy {
	text-align: center;
	padding-left: 200px;
	display: inline;
}

#copy p {
	padding-top: 10px;
	font-size: 14px;
}